# Simulation Artifacts
*.vvp
*.vcd
sim_output.txt
all_in_one.sv
compile_err.txt
err.txt

# Vivado / Synthesis Artifacts
*.jou
*.log
*.pb
synthesis_utilization.rpt
synthesis_power.rpt
synthesis_timing.rpt
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
.Xil/

# OS/Python Artifacts
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# My Temp Files
test_struct.sv
mod_def.sv
all_in_one.v
